.header {
	height: 139px;
	width: 915px;
	margin-left: auto;
	margin-right: auto;
	background: url(../images/header.jpg) no-repeat;
}

.footer {
	position: relative;
	width: 915px;
	height: 172px;
	margin: 0;
	background: url(../images/footer.png) no-repeat;
	float: left;
	text-align:center;
}

.frontpage .blue_header {
    margin-left: 185px;
}

.footer_border {
	background-image:url(../images/border.jpg);
	background-repeat:repeat-y;
}

.progressive_jackpots {
	width:915x;
	background-image:url(../images/progressive_logos.jpg);
	background-repeat:no-repeat;
	font-size: 11x;
}

.left_column {
	width: 304px;
	height: 524px;
	float: left;
}
.download {
	background-image:url(../images/download_box_2.jpg);
	background-repeat:no-repeat;
	width: 304px;
	height: 130px;
	float: left;
	clear: left;
	text-align: center;
	background-size: 305px 132px !important;
	padding-top:6px !important;
}


#r_answer {
    width: 43px;
}
.download_buttons_table {
	width: 287px;
	text-align: center;
}

.services {
   background-image:url(../images/services_box.jpg);
    background-repeat:no-repeat;
    padding-top: 110px;
    padding-left: 20px;
    padding-right: 10px;
    width: 274px;
    height: 300px;
    float: left;
}


.right_column {
	width: 212px;
	float:right;
	font-size: 0px;
	line-height: 0;
	margin-right: 7px;
}

.flash {
	width: 611px;
	height: 212px;
	float:left;
	font-size: 0px;
	line-height: 0;
}

.indexcontent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	background-color: #FFFFFF;
	text-decoration: none;
	width: 593px;
	height: 302px;
	vertical-align: top;
	float: right;
	padding-top: 12px;
	padding-left: 6px;
	padding-right: 12px;
	background-image:url(../images/indexcontent.jpg);
	background-repeat:no-repeat;
        overflow-y:scroll;
}
.frontpage{
 background-color: #FFFFFF;
    background-image: url("../images/fron1.jpg");/*background-image: url("../images/indexcontent.jpg");*/
    background-repeat: no-repeat;
    box-shadow: 2px 4px 5px 1px #2C312F;
    border-radius: 9px 9px 9px 9px;
    color: #000000;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 184px;
    /*overflow-y: scroll;*/
    padding-left: 6px;
    padding-right: 12px;
    padding-top: 12px;
    text-decoration: none;
    vertical-align: top;
    width: 586px;
}
.testimonial{
   background-color: #FFFFFF;
    background-image: url("../images/testmonial.png");
    background-repeat: no-repeat;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 5px 5px 1px #2C312F;
    color: #000000;
    float: left;
    position:relative !important;
    left:-1px !important;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 108px;
    margin-left: 2px;
    margin-top: 6px;
     padding-left: 18px;
    padding-right: 12px;
    padding-top: 12px;
    text-decoration: none;
    vertical-align: top;
    width: 572px;
}
.testimonial1{
    background-color: #FFFFFF;
    background-image: url("../images/indexcontent.jpg");
    background-repeat: no-repeat;
    border-radius: 10px 10px 10px 10px;
    color: #000000;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 95px;
    margin-left: 4px;
    margin-top: 4px;
     padding-left: 18px;
    padding-right: 12px;
    padding-top: 12px;
    text-decoration: none;
    vertical-align: top;
    width: 170px;
}
.testimonial2{
    background-color: #FFFFFF;
    background-image: url("../images/indexcontent.jpg");
    background-repeat: no-repeat;
    border-radius: 10px 10px 10px 10px;
    color: #000000;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 95px;
    margin-left: 4px;
    margin-top: 4px;
    padding-left: 18px;
    padding-right: 12px;
    padding-top: 12px;
    text-decoration: none;
    vertical-align: top;
    width: 170px;
}

.standard_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
}

.content {
	background-size: 611px 553px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	background-color: #FFFFFF;
	text-decoration: none;
	width: 593px;
	height: 532px;
	vertical-align: top;
	float: right;
	padding-top: 12px;
	padding-left: 6px;
	padding-right: 12px;
	background-image:url(../images/content.jpg);
	background-repeat:no-repeat;
       /* overflow-y:scroll;
        overflow-x:hidden;*/
}

.content_form {
	text-decoration: none;
	width: 915px;
	height: 513px;
	vertical-align: top;
	margin-left: 5px;
	float: left;
	padding-top: 12px;
	padding-left: 20px;
	background-image:url(../images/content_form.jpg);
	background-repeat:no-repeat;
}

.blue_header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #214C79;
	 
}
.testimonial  h4 {
    text-align: center;
}

.subheader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #214C79;
}

.big_heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: #ffffff;
}

.heading_bg {
	background-image:url(../images/heading_bg.jpg);
	background-repeat: repeat-x;
	
}

.menu_bg {
	background-image:url(../images/menu_bg.jpg);
	background-repeat:no-repeat;
	vertical-align: top;
	text-align: center;
	height: 22px;
}
.menu_bg1 {
	background-image:url(../images/fotter1.png);
	background-repeat:no-repeat;
	vertical-align: top;
        margin:0px 0px 0px 12px;
	text-align: center;
	height: 22px;
        width: 904px;
        
}
.menu_box {
	vertical-align: top;
	text-align: left;
	width: 915px;
 }

.bullet {
			font-family: Verdana, Geneva, sans-serif;
			font-size: 11px;
			font-weight: normal;
			color: #000000;
			} 
			
.footerspace {
			font-family: Verdana, Geneva, sans-serif;
			font-size: 14px;
			font-weight: normal;
			color: #000000;
			} 
			
a.left_links:link {
			font-family: Verdana, Geneva, sans-serif;
			font-size: 12px;
			line-height:18px;
			font-weight: bold;
			color: #214C79;
			text-decoration: none;
			}
a.left_links:visited {
			font-family: Verdana, Geneva, sans-serif;
			font-size: 12px;
			line-height:18px;
			font-weight: bold;
			color: #214C79;
			text-decoration: none;
			} 
a.left_links:hover {
			font-family: Verdana, Geneva, sans-serif;
			font-size: 12px;
			line-height:18px;
			font-weight: bold;
			color: #214C91;
			text-decoration: underline;
			}
			
a.links:link {
			font-family: Verdana, Geneva, sans-serif;
			font-size: 11px;
			font-weight: normal;
			color: #000000;
			text-decoration: none;
			}
a.links:visited {
			font-family: Verdana, Geneva, sans-serif;
			font-size: 11px;
			font-weight: normal;
			color: #000000;
			text-decoration: none;
			} 
a.links:hover {
			font-family: Verdana, Geneva, sans-serif;
			font-size: 11px;
			font-weight: normal;
			color: #000000;
			text-decoration: underline;
			} 

a.links_footer:link {
			font-family: Verdana, Geneva, sans-serif;
			font-size: 11px;
			font-weight: normal;
			color: #FFF;
			text-decoration: none;
                        padding-left: 23px;
			}
a.links_footer:visited {
			font-family: Verdana, Geneva, sans-serif;
			font-size: 11px;
			font-weight: normal;
			color: #FFF;
			text-decoration: none;
			} 
a.links_footer:hover {
			font-family: Verdana, Geneva, sans-serif;
			font-size: 11px;
			font-weight: normal;
			color: #999;
			text-decoration: none;
			}
			
			
a.links_white:link {
			font-family: Verdana, Geneva, sans-serif;
			font-size: 11px;
			font-weight: normal;
			color: #FFF;
			text-decoration: none;
			}
a.links_white:visited {
			font-family: Verdana, Geneva, sans-serif;
			font-size: 11px;
			font-weight: normal;
			color: #FFF;
			text-decoration: none;
			} 
a.links_white:hover {
			font-family: Verdana, Geneva, sans-serif;
			font-size: 11px;
			font-weight: normal;
			color: #FF0000;
			text-decoration: underline;
			}
			
a.links_white_underline:link {
			font-family: Verdana, Geneva, sans-serif;
			font-size: 11px;
			font-weight: normal;
			color: #FFF;
			text-decoration: underline;
			}
a.links_white_underline:visited {
			font-family: Verdana, Geneva, sans-serif;
			font-size: 11px;
			font-weight: normal;
			color: #FFF;
			text-decoration: underline;
			} 
a.links_white_underline:hover {
			font-family: Verdana, Geneva, sans-serif;
			font-size: 11px;
			font-weight: normal;
			color: #FFF;
			text-decoration: underline;
			}
			
a.links_black:link {
			font-family: Verdana, Geneva, sans-serif;
			font-size: 11px;
			font-weight: normal;
			color: #000000;
			text-decoration: underline;
			}
a.links_black:visited {
			font-family: Verdana, Geneva, sans-serif;
			font-size: 11px;
			font-weight: normal;
			color: #000000;
			text-decoration: underline;
			} 
a.links_black:hover {
			font-family: Verdana, Geneva, sans-serif;
			font-size: 11px;
			font-weight: normal;
			color: #000000;
			text-decoration: underline;
			}

a.links_small:link {
			font-family: Verdana, Geneva, sans-serif;
			font-size: 10px;
			font-weight: normal;
			color: #000000;
			text-decoration: underline;
			}
a.links_small:visited {
			font-family: Verdana, Geneva, sans-serif;
			font-size: 10px;
			font-weight: normal;
			color: #000000;
			text-decoration: underline;
			} 
a.links_small:hover {
			font-family: Verdana, Geneva, sans-serif;
			font-size: 10px;
			font-weight: normal;
			color: #000000;
			text-decoration: underline;
			}
			

.small_content {
	font-family: Verdana, Geneva, sans-serif;
			font-size: 10px;
			font-weight: normal;
			color: #000000;
			}
			
.small_content_white {
	font-family: Verdana, Geneva, sans-serif;
			font-size: 10px;
			font-weight: normal;
			color: #ffffff;
			}
/*

menu

*/

a.menu:link {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	text-decoration:none;
	line-height: 18px;
	padding-left:25px;
			}
a.menu:visited {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	text-decoration:none;
	line-height: 18px;
	padding-left: 36px;
			} 
a.menu:hover {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #999;
	text-decoration:none;
	line-height: 18px;
	padding-left: 25px;
			} 
/*

end of menu

*/			
			
			
.white_text {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #ffffff;
	font-weight:normal;
}

/*

end menu

*/


.rssheader {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
	width: 100%;
	height:22px;
	text-align: left;
	padding-left: 3px;
	background-image:url(../images/rss_header.jpg);
	background-repeat: repeat-x;
}

.break {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 5px;;
	
}

.shift {
	position : relative;
	top : -.11em; }

.rsstitle {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	width: 199px;
	color: #900;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 3px;
}

.rssdesc {

	font-family: Tahoma;
	font-size: 11px;
	font-weight: normal;
	width: 171px;
	color: #FFFFFF;
	padding-left: 5px;
	padding-right: 3px;
	padding-bottom: 10px;
}

.rssdesc a{

color:#000000;
width: 171px;
text-decoration: none;
}

.header_text {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	color: #FFCC00;
	text-decoration: none;
	width: 450px;

}




.subheader2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #9999FF;
	text-decoration: none;
	width: 350px;
	border-top: 1px none #FFFFFF;
	border-right: 1px none #FFFFFF;
	border-bottom: 1px none #FFFFFF;
	border-left: 1px none #FFFFFF;
}


.tablecontent2 {font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	vertical-align: middle;
	background-color: #000;
}

.bonus {
	font-size: 16px;
	font-weight: bold;
	color: #F2F403;
	font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
}

.newswinner {
	font-weight: bold;
	color: #FFFF99;
	background-color: #000000;
	font-size: 14px;
	text-align: left;
}

.form_fields {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	text-align: justify;
	width: 270px;
}

.form_input {
	height: 22px;
	width: 220px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	text-align: justify;
	border-style: solid;
	border-color: #CCC;
	border-width: 1px;
	background-color: #F0F0F0;
	padding: 0px; 
}
.form_input1 {
	height: 187px;
	width: 506px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	text-align: justify;
	border-style: solid;
	border-color: #CCC;
	border-width: 1px;
	background-color: #F0F0F0;
	padding: 0px; 
}


.form_input2 {
	height: 22px;
	width: 315px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	text-align: justify;
	border-style: solid;
	border-color: #CCC;
	border-width: 1px;
	background-color: #F0F0F0;
	padding: 0px; 
}

.form_input_3 {
	height: 22px;
	width: 70px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	text-align: justify;
	border-style: solid;
	border-color: #CCC;
	border-width: 1px;
	background-color: #F0F0F0;
	padding: 0px; 
}

.form_input_4 {
	height: 22px;
	width: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	text-align: justify;
	border-style: solid;
	border-color: #CCC;
	border-width: 1px;
	background-color: #F0F0F0;
	padding: 0px; 
}

.form_input_5 {
	height: 22px;
	width: 80px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	text-align: justify;
	border-style: solid;
	border-color: #CCC;
	border-width: 1px;
	background-color: #F0F0F0;
	padding: 0px; 
}

.form_textarea {
	height: 48px;
	width: 270px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	text-align: justify;
	border-style: solid;
	border-color: #CCC;
	border-width: 1px;
	background-color: #F0F0F0;
	padding: 0px; 
}

.form_textarea2 {
	height: 195px;
	width: 270px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	text-align: justify;
	border-style: solid;
	border-color: #CCC;
	border-width: 1px;
	background-color: #F0F0F0;
	padding: 0px; 
}

.form_textarea3 {
	height: 60px;
	width: 560px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	text-align: justify;
	border-style: solid;
	border-color: #CCC;
	border-width: 1px;
	background-color: #F0F0F0;
	padding: 0px; 
}
.form_textarea4 {
	height: 120px;
	width: 520px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	text-align: justify;
	border-style: solid;
	border-color: #CCC;
	border-width: 1px;
	background-color: #F0F0F0;
	padding: 0px; 
}
.row_spacer {
font-size:8px;
line-height: 8px;
} 
.con{
      margin-left: 127px;
    padding-top: 33px;
    position: relative;
    top: -16px;
    width: 435px;
}
.img{
margin-top: -77px;
    position: relative;
    top: 83px;
}
.headings{
font-size: 16px;
    margin-left: 126px;
    margin-top: 0;
    position: relative;
    top: 24px;
}
.blogimg{
margin-top:51px;
}
.blogcontent{
 margin-left: 226px;
    margin-top: -207px;
    width: 343px;
}
.blogheading{
    font-size: 29px;
    position: relative;
    top: 19px;
color: #214C79;
margin-bottom:50px;
}
.blogtitle{
    font-size: 29px;
    position: relative;
    top: 38px;
    color: #214C79;
}
.blogdate{
    font-size: 10px;
    margin-left: 475px;
    margin-top: 0;
    position: relative;
    top: 42px;
    width: 119px;
}
.blogcate{
    font-size: 14px;
    margin-left: 392px;
    margin-top: 101px;
    position: relative;
    top: 24px;
}
.blogz {
    border-top: 1px solid #CCCCCC;
    margin: 0 0 20px;
    min-height: 290px;
}
.banner{
   background-color: #FFFFFF;
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    border-radius: 10px 10px 10px 10px;
    color: #000000;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 109px;
    margin-left: 10px;
    margin-top: 0px;
    /*padding-left: 18px;
    padding-right: 12px;
    padding-top: 12px;
    text-decoration: none;*/
    vertical-align: top;
    width: 917px;
}

.bglogo{
	position:relative;
	z-index: 44 !important;
    background-image: none;
    background:white !important;
    background-repeat: no-repeat;  
    box-shadow: 2px 5px 5px 1px #2C312F;
    border-radius:14px;
    margin-bottom:7px;
    width: 901px;
    height:173px;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 55px;
    font-weight: normal;
    margin-left: 6px;
    margin-top: 6px;
    /*padding-left: 18px;
    padding-right: 12px;
    padding-top: 12px;
    text-decoration: none;*/
    vertical-align: top;
}
/*

.bglogo {
    background: white;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 2px 5px 5px 1px #2C312F;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 55px;
    font-weight: normal;
    height: 178px;
    margin-bottom: 8px;
    margin-left: 6px;
    margin-top: 5px;
    vertical-align: top;
    width: 903px;
}
*/
.banner1{
    margin-left: 72px;
    margin-top: -5px;
}
.footer_all{
margin-top:1px;
}
.a2a_menu{
    left: 650px !important;
    top: 157px !important;
}
.tite
 {
 width: 90px;
 height:20px;
 margin:10px 0px 0px 78px; 
 margin-left:400px !important;
}

.read{
 width: 86px;
 height:20px;
 float:right;
 margin-top: -9px !important;
	
}
.a2a_dd{
display:none;
}

/********media query************/
