* {
	margin: 0;
}

html { 
        height: 100%;
      } 
body { 
        height: 100%;
        width: 915px; 
        margin: 0 auto; 
        position: relative; 
        min-height: 100%;
		background-image:url(../images/bg_gradient.jpg);
		background-repeat:repeat-x;
		text-align: center;
      } 
	  
.wrapper {
	min-height: 100%;
	margin: 0 auto -350px; 
	width: 915px;
	text-align: left;
	overflow: hidden;
	position: relative;
}

.push {
	height: 350px;
}
